<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Minute Man" />
    <meta name="author" content="Joseph J Emmatty" />
    <title>Articles - Minute man</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Custom styles for this template -->
    <link href="./contents/css/main.css" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <header class="blog-header py-3">
            <div class="row flex-nowrap align-items-center">
                <img src="./contents/images/bulb.png" width="90" height="90" />
                <div>
                    <a class="blog-header-logo text-dark header-title" href="#">Minute man</a>
                    <div class="header-author">
                        A technical blog by
                        <span class="name"><b>Joseph J Emmatty</b></span>
                    </div>
                </div>
            </div>
        </header>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item px-2">
                        <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link" href="about.html">About</a>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link active" href="articles.html">Articles</a>
                    </li>
                    <li class="nav-item px-2 dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Projects
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link" href="contact.html">Contact me</a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="container main-content">
            <div class="row">
                <div class="col-md-8 blog-main">
                    <div class="blog-post">
                        <h3 class="blog-post-title">Blog post 1</h3>
                        <p class="blog-post-meta">
                            January 1, 2014
                        </p>
                        <div class="blog-preview-wrapper">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and scrambled it to make a type specimen
                                book.
                            </p>
                        </div>
                        <div class="blog-preview-footer">
                            <a href="article.html">Continue reading...</a>
                        </div>
                    </div>

                    <div class="blog-post">
                        <h2 class="blog-post-title">Blog post 2</h2>
                        <p class="blog-post-meta">
                            March 1, 2013
                        </p>
                        <div class="blog-preview-wrapper">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and scrambled it to make a type specimen
                                book.
                                It has survived not only five centuries, but also the leap into electronic typesetting,
                                remaining essentially unchanged. It was popularised in the 1960s with the release of
                                Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                                publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </p>
                        </div>
                        <div class="blog-preview-footer">
                            <a href="article.html">Continue reading...</a>
                        </div>
                    </div>

                    <div class="blog-post">
                        <h3 class="blog-post-title">Blog post 3</h3>
                        <p class="blog-post-meta">
                            December 1, 2013
                        </p>
                        <div class="blog-preview-wrapper">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and scrambled it to make a type specimen
                                book.
                                It has survived not only five centuries, but also the leap into electronic typesetting,
                                remaining essentially unchanged. It was popularised in the 1960s with the release of
                                Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                                publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </p>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and scrambled it to make a type specimen
                                book.
                                It has survived not only five centuries, but also the leap into electronic typesetting,
                                remaining essentially unchanged. It was popularised in the 1960s with the release of
                                Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                                publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </p>
                        </div>
                        <div class="blog-preview-footer">
                            <a href="article.html">Continue reading...</a>
                        </div>
                    </div>
                        <div class="blog-post">
                        <h3 class="blog-post-title">Blog post 4</h3>
                        <p class="blog-post-meta">
                            December 1, 2014
                        </p>
                        <div class="blog-preview-wrapper">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and scrambled it to make a type specimen
                                book.
                            </p>
                        </div>
                        <div class="blog-preview-footer">
                            <a href="article.html">Continue reading...</a>
                        </div>
                    </div>
                </div>

                <aside class="col-md-4 blog-sidebar">
                    <h4 class="font-italic">All posts</h4>
                    <ul class="tree-view">
                        <li>
                            <span class="caret">July 2020 (2)</span>
                            <ul class="nested">
                                <li>A very long blog post title which may break.</li>
                                <li>Blob post 2</li>
                            </ul>
                        </li>
                        <li>
                            <span class="caret">June 2020 (0)</span>
                        </li>
                        <li>
                            <span class="caret">May 2020 (4)</span>
                            <ul class="nested">
                                <li>Blob post 1</li>
                                <li>Blob post 2</li>
                                <li>Blob post 3</li>
                                <li>Blob post 4</li>
                            </ul>
                        </li>
                        <li>
                            <span class="caret">April 2020 (5)</span>
                            <ul class="nested">
                                <li>Blob post 1</li>
                                <li>Blob post 2</li>
                                <li>Blob post 3</li>
                                <li>Blob post 4</li>
                                <li>Blob post 5</li>
                            </ul>
                        </li>
                        <li>
                            <span class="caret">March 2020 (3)</span>
                            <ul class="nested">
                                <li>Blob post 1</li>
                                <li>Blob post 2</li>
                                <li>Blob post 3</li>
                            </ul>
                        </li>
                        <li>
                            <span class="caret">February 2020 (3)</span>
                            <ul class="nested">
                                <li>Blob post 1</li>
                                <li>Blob post 2</li>
                                <li>Blob post 3</li>
                            </ul>
                        </li>
                        <li>
                            <span class="caret">January 2020 (1)</span>
                            <ul class="nested">
                                <li>Blob post 1</li>
                            </ul>
                        </li>
                    </ul>
                </aside>
            </div>
        </main>

        <footer class="blog-footer">
            <p>Built by <b>Joseph J Emmatty</b></p>
            <p>
                <a href="#">Back to top</a>
            </p>
        </footer>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
        <script>
            var toggler = document.getElementsByClassName("caret");
            for (let i = 0; i < toggler.length; i++) {
                toggler[i].addEventListener("click", function () {
                    this.parentElement.querySelector(".nested").classList.toggle("active");
                    this.classList.toggle("caret-down");
                });
            }
        </script>
</body>

</html>